name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: <acr-name>.azurecr.io
        username: ${{ secrets.AZURE_ACR_USERNAME }}
        password: ${{ secrets.AZURE_ACR_PASSWORD }}

    - name: Build and Tag Docker Image
      run: docker build -t <acr-name>.azurecr.io/<image-name>:${{ github.sha }} .

    - name: Push Docker Image to ACR
      run: docker push <acr-name>.azurecr.io/<image-name>:${{ github.sha }}
